<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=7">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta http-equiv="content-language" content="zh-cn" />
<title>$web_title$</title>
<meta name="keywords" content="$web_keywords$" />
<meta name="description" content="$web_description$" />
<link href="/css/$web_theme$/style.css" rel="stylesheet" type="text/css" />
<link href="/css/$web_theme$/common.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/css/$web_theme$/functions.js"></script>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/FocusSlide.js"></script>
<script type="text/javascript" src="/js/ScrollPic.js"></script>
<link href="/css/$web_theme$/inner.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="wrapper">

<!--head start-->
<div id="head">

<!--top start -->
<div class="top">

<div class="TopLogo">
<div class="logo"><a href="/"><img src="/css/$web_theme$/$web_image$" alt="$web_name$"></a></div>
</div>

<div class="TopInfo">
<div class="clearfix"></div>
<div class="tel"><p class="telW">$web_tel_title$</p><p class="telN">$web_tel$</p></div>

</div>

</div>
<!--top end-->

<!--nav start-->
<div id="NavLink">
<div class="NavBG">
<!--Head Menu Start-->
$web_TopMenu$
<!--Head Menu End-->
</div>
<div class="clearfix"></div>
</div>
<!--nav end-->
<!--幻灯片focus start-->

$web_TopIMGAD$

<!--foncus end-->
<div class="HeightTab clearfix"></div>

</div>
<!--head end-->
<!--body start-->
<div id="body">
<!--MainBlock start-->
<div class="MainBlock">

<!--公司产品-->
$Block03_LeftItem$
    <div class="inner">
        <!--联系我们right2 start-->
        <div class="left">
            <div class="topic">
                <div class="TopicTitle"><a href='$JuhaoyongIndexContactusUrl$'>$JuhaoyongIndexContactusName$</a></div>
                <div class="TopicMore"> <!--<a href='$JuhaoyongIndexContactusUrl$'><img src="images/more.png" /></a>--></div>
            </div>
            <div class='img'><a href='$JuhaoyongIndexContactusUrl$' target='_blank'><img src='/css/$JuhaoyongIndexContactusImage$' width='242' height='100' alt='$JuhaoyongIndexContactusName$' /></a></div><div class="txt ColorLink">
                $web_consult$
            </div>

            <div class=" clearfix"></div>


        </div>
        <!--right2 end-->
        <!--公告动态right start-->
        <div class="right">
            <div class="topic">
                <div class="TopicTitle">订车价格</div>
                <div class="TopicMore"> <!--<a href='/$WebNewNewsFolderName$'><img src="images/more.png" /></a>--></div>
            </div>
            <div class='clearfix'></div>
            <table class="MBlockTable" width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td height="38" rowspan="2" width="44" style="font-family:宋体, Arial, Helvetica, sans-serif;background-color:#337FE5;">
                            <span style="font-size:14px;"><strong>编</strong></span><span style="font-size:14px;"><strong>号</strong></span>
                        </td>
                        <td rowspan="2" width="77" style="font-family:宋体, Arial, Helvetica, sans-serif;background-color:#337FE5;">
                            <span style="font-size:14px;"><strong>型号</strong></span>
                        </td>
                        <td rowspan="2" width="102" style="font-family:宋体, Arial, Helvetica, sans-serif;background-color:#337FE5;">
                            <span style="font-size:14px;"><strong>座位数</strong></span>
                        </td>
                        <td rowspan="2" width="126" colspan="2" style="font-family:宋体, Arial, Helvetica, sans-serif;background-color:#337FE5;">
                            <span style="font-size:14px;"><strong>基础价格</strong></span>
                        </td>
                        <td rowspan="2" width="49" style="font-family:宋体, Arial, Helvetica, sans-serif;background-color:#337FE5;">
                            <p>
                                <span style="font-size:14px;"><strong>核</strong></span><span style="font-size:14px;"><strong>定</strong></span>
                            </p>
                            <p>
                                <span style="font-size:14px;"><strong>小时</strong></span>
                            </p>
                        </td>
                        <td rowspan="2" width="47" style="font-family:宋体, Arial, Helvetica, sans-serif;background-color:#337FE5;">
                            <p>
                                <span style="font-size:14px;"><strong>核定</strong></span>
                            </p>
                            <p>
                                <span style="font-size:14px;"><strong>公里</strong></span>
                            </p>
                        </td>
                        <td rowspan="2" width="44" style="font-family:宋体, Arial, Helvetica, sans-serif;background-color:#337FE5;">
                            <p>
                                <span style="font-size:14px;"><strong>超时</strong></span>
                            </p>
                            <p>
                                <span style="font-size:14px;"><strong>单价</strong></span>
                            </p>
                        </td>
                        <td rowspan="2" width="42" style="font-family:宋体, Arial, Helvetica, sans-serif;background-color:#337FE5;">
                            <p>
                                <span style="font-size:14px;"><strong>超程</strong></span>
                            </p>
                            <p>
                                <span style="font-size:14px;"><strong>单价</strong></span>
                            </p>
                        </td>
                        <td rowspan="2" width="60" style="font-family:宋体, Arial, Helvetica, sans-serif;background-color:#337FE5;">
                            <p>
                                <span style="font-size:14px;"><strong>虹桥机</strong></span>
                            </p>
                            <p>
                                <span style="font-size:14px;"><strong>场接送</strong></span>
                            </p>
                        </td>
                        <td rowspan="2" width="58" style="font-family:宋体, Arial, Helvetica, sans-serif;background-color:#337FE5;">
                            <p>
                                <span style="font-size:14px;"><strong>浦东机</strong></span>
                            </p>
                            <p>
                                <span style="font-size:14px;"><strong>场接送</strong></span>
                            </p>
                        </td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td height="38" rowspan="2" width="44" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">1</span>
                        </td>
                        <td rowspan="2" width="77" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;"><strong>江铃全顺</strong></span>
                        </td>
                        <td rowspan="2" width="102" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">16</span>
                        </td>
                        <td width="126" colspan="2" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">500</span>
                        </td>
                        <td width="49" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">6</span>
                        </td>
                        <td width="47" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">50</span>
                        </td>
                        <td rowspan="2" width="44" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;"></span><span style="font-size:16px;">50</span>
                        </td>
                        <td rowspan="2" width="42" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">4</span>
                        </td>
                        <td rowspan="2" width="60" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">450</span>
                        </td>
                        <td rowspan="2" width="58" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">500</span>
                        </td>
                    </tr>
                    <tr>
                        <td height="19" width="126" colspan="2" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">650</span>
                        </td>
                        <td width="49" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">10</span>
                        </td>
                        <td width="47" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">80</span>
                        </td>
                    </tr>
                    <tr>
                        <td height="38" rowspan="2" width="44" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">2</span>
                        </td>
                        <td rowspan="2" width="77" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;"><strong>丰田海狮</strong></span>
                        </td>
                        <td rowspan="2" width="102" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">17-18</span>
                        </td>
                        <td width="126" colspan="2" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">600</span>
                        </td>
                        <td width="49" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">6</span>
                        </td>
                        <td width="47" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">50</span>
                        </td>
                        <td rowspan="2" width="44" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:small;"></span><span style="font-size:16px;">50</span>
                        </td>
                        <td rowspan="2" width="42" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">5</span>
                        </td>
                        <td rowspan="2" width="60" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">500</span>
                        </td>
                        <td rowspan="2" width="58" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">600</span>
                        </td>
                    </tr>
                    <tr>
                        <td height="19" width="126" colspan="2" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">800</span>
                        </td>
                        <td width="49" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">10</span>
                        </td>
                        <td width="47" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">80</span>
                        </td>
                    </tr>
                    <tr>
                        <td height="38" rowspan="2" width="44" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">3</span>
                        </td>
                        <td rowspan="2" width="77" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;"><strong>考斯特</strong></span>
                        </td>
                        <td rowspan="2" width="102" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">18-22</span>
                        </td>
                        <td width="126" colspan="2" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">600-1000</span>
                        </td>
                        <td width="49" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">6</span>
                        </td>
                        <td width="47" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">50</span>
                        </td>
                        <td rowspan="2" width="44" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">50</span>
                        </td>
                        <td rowspan="2" width="42" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">5</span>
                        </td>
                        <td rowspan="2" width="60" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">700</span>
                        </td>
                        <td rowspan="2" width="58" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">800</span>
                        </td>
                    </tr>
                    <tr>
                        <td height="19" width="126" colspan="2" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">800-1200</span>
                        </td>
                        <td width="49" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">10</span>
                        </td>
                        <td width="47" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">80</span>
                        </td>
                    </tr>
                    <tr>
                        <td height="38" rowspan="2" width="44" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">4</span>
                        </td>
                        <td rowspan="2" width="77" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;"><strong>仿考</strong></span>
                        </td>
                        <td rowspan="2" width="102" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">18-22</span>
                        </td>
                        <td width="126" colspan="2" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">500-900</span>
                        </td>
                        <td width="49" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">6</span>
                        </td>
                        <td width="47" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">50</span>
                        </td>
                        <td rowspan="2" width="44" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">50</span>
                        </td>
                        <td rowspan="2" width="42" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">5</span>
                        </td>
                        <td rowspan="2" width="60" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">600</span>
                        </td>
                        <td rowspan="2" width="58" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">700</span>
                        </td>
                    </tr>
                    <tr>
                        <td height="19" width="126" colspan="2" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">700-1100</span>
                        </td>
                        <td width="49" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">10</span>
                        </td>
                        <td width="47" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">80</span>
                        </td>
                    </tr>
                    <tr>
                        <td height="38" rowspan="2" width="44" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">5</span>
                        </td>
                        <td rowspan="2" width="77" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;"><strong>考斯特</strong></span>
                        </td>
                        <td rowspan="2" width="102" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">26</span>
                        </td>
                        <td width="126" colspan="2" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">1000</span>
                        </td>
                        <td width="49" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">6</span>
                        </td>
                        <td width="47" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">50</span>
                        </td>
                        <td rowspan="2" width="44" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">50</span>
                        </td>
                        <td rowspan="2" width="42" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;"></span><span style="font-size:16px;">6</span>
                        </td>
                        <td rowspan="2" width="60" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">700</span>
                        </td>
                        <td rowspan="2" width="58" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">800</span>
                        </td>
                    </tr>
                    <tr>
                        <td height="19" width="126" colspan="2" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">1400</span>
                        </td>
                        <td width="49" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">10</span>
                        </td>
                        <td width="47" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">80</span>
                        </td>
                    </tr>
                    <tr>
                        <td height="38" rowspan="2" width="44" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">6</span>
                        </td>
                        <td rowspan="2" width="77" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;"><strong>沃尔沃</strong></span>
                        </td>
                        <td rowspan="2" width="102" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">33+2</span>
                        </td>
                        <td width="126" colspan="2" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">700</span>
                        </td>
                        <td width="49" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">6</span>
                        </td>
                        <td width="47" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">50</span>
                        </td>
                        <td rowspan="2" width="44" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">50</span>
                        </td>
                        <td rowspan="2" width="42" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">5</span>
                        </td>
                        <td rowspan="2" width="60" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">600</span>
                        </td>
                        <td rowspan="2" width="58" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">700</span>
                        </td>
                    </tr>
                    <tr>
                        <td height="19" width="126" colspan="2" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">900</span>
                        </td>
                        <td width="49" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">10</span>
                        </td>
                        <td width="47" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">80</span>
                        </td>
                    </tr>
                    <tr>
                        <td height="38" rowspan="2" width="44" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">7</span>
                        </td>
                        <td rowspan="2" width="77" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;"><strong>沃尔沃</strong></span>
                        </td>
                        <td rowspan="2" width="102" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">37+2</span>
                        </td>
                        <td width="126" colspan="2" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">800</span>
                        </td>
                        <td width="49" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">6</span>
                        </td>
                        <td width="47" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">50</span>
                        </td>
                        <td rowspan="2" width="44" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">50</span>
                        </td>
                        <td rowspan="2" width="42" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;"></span><span style="font-size:16px;">5</span>
                        </td>
                        <td rowspan="2" width="60" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">600</span>
                        </td>
                        <td rowspan="2" width="58" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">700</span>
                        </td>
                    </tr>
                    <tr>
                        <td height="19" width="126" colspan="2" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">1000</span>
                        </td>
                        <td width="49" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">10</span>
                        </td>
                        <td width="47" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">80</span>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">8</span>
                        </td>
                        <td rowspan="2" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;"><strong>万象大宇</strong></span>
                        </td>
                        <td rowspan="2" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">47+2</span>
                        </td>
                        <td colspan="2" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">900</span>
                        </td>
                        <td style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">6</span>
                        </td>
                        <td style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">50</span>
                        </td>
                        <td rowspan="2" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">60</span>
                        </td>
                        <td rowspan="2" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">8</span>
                        </td>
                        <td rowspan="2" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">700</span>
                        </td>
                        <td rowspan="2" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">800</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">1100</span>
                        </td>
                        <td style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">10</span>
                        </td>
                        <td style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">80</span>
                        </td>
                    </tr>
                    <tr>
                        <td height="38" rowspan="2" width="44" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">9</span>
                        </td>
                        <td rowspan="2" width="77" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;"><strong>沃尔沃</strong></span>
                        </td>
                        <td rowspan="2" width="102" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">45+2</span>
                        </td>
                        <td width="126" colspan="2" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">900</span>
                        </td>
                        <td width="49" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">6</span>
                        </td>
                        <td width="47" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">50</span>
                        </td>
                        <td rowspan="2" width="44" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">60</span>
                        </td>
                        <td rowspan="2" width="42" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;"></span><span style="font-size:16px;">8</span>
                        </td>
                        <td rowspan="2" width="60" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">700</span>
                        </td>
                        <td rowspan="2" width="58" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">800</span>
                        </td>
                    </tr>
                    <tr>
                        <td height="19" width="126" colspan="2" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">1100</span>
                        </td>
                        <td width="49" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">10</span>
                        </td>
                        <td width="47" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">80</span>
                        </td>
                    </tr>
                    <tr>
                        <td height="38" rowspan="2" width="44" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">10</span>
                        </td>
                        <td rowspan="2" width="77" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;"><strong>沃尔沃</strong></span>
                        </td>
                        <td rowspan="2" width="102" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">49+2</span>
                        </td>
                        <td width="126" colspan="2" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">1000</span>
                        </td>
                        <td width="49" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">6</span>
                        </td>
                        <td width="47" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">50</span>
                        </td>
                        <td rowspan="2" width="44" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">60</span>
                        </td>
                        <td rowspan="2" width="42" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">8</span>
                        </td>
                        <td rowspan="2" width="60" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">700</span>
                        </td>
                        <td rowspan="2" width="58" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">800</span>
                        </td>
                    </tr>
                    <tr>
                        <td height="19" width="126" colspan="2" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">1200</span>
                        </td>
                        <td width="49" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">10</span>
                        </td>
                        <td width="47" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">80</span>
                        </td>
                    </tr>
                    <tr>
                        <td height="38" rowspan="2" width="44" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">11</span>
                        </td>
                        <td rowspan="2" width="77" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;"><strong>沃尔沃</strong></span>
                        </td>
                        <td rowspan="2" width="102" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">53+2</span>
                        </td>
                        <td width="126" colspan="2" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">1100</span>
                        </td>
                        <td width="49" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">6</span>
                        </td>
                        <td width="47" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">50</span>
                        </td>
                        <td rowspan="2" width="44" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">60</span>
                        </td>
                        <td rowspan="2" width="42" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;"></span><span style="font-size:16px;">10</span>
                        </td>
                        <td rowspan="2" width="60" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">800</span>
                        </td>
                        <td rowspan="2" width="58" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">900</span>
                        </td>
                    </tr>
                    <tr>
                        <td height="19" width="126" colspan="2" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">1300</span>
                        </td>
                        <td width="49" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">10</span>
                        </td>
                        <td width="47" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">80</span>
                        </td>
                    </tr>
                    <tr>
                        <td height="38" rowspan="2" width="44" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">12</span>
                        </td>
                        <td rowspan="2" width="77" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;"><strong>尼尔普兰</strong></span>
                        </td>
                        <td rowspan="2" width="102" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">53+2</span>
                        </td>
                        <td width="126" colspan="2" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">1200</span>
                        </td>
                        <td width="49" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">6</span>
                        </td>
                        <td width="47" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">50</span>
                        </td>
                        <td rowspan="2" width="44" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">60</span>
                        </td>
                        <td rowspan="2" width="42" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;"></span><span style="font-size:16px;">10</span>
                        </td>
                        <td rowspan="2" width="60" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">800</span>
                        </td>
                        <td rowspan="2" width="58" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">900</span>
                        </td>
                    </tr>
                    <tr>
                        <td height="19" width="126" colspan="2" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">1500</span>
                        </td>
                        <td width="49" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">10</span>
                        </td>
                        <td width="47" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">80</span>
                        </td>
                    </tr>
                    <tr>
                        <td height="38" rowspan="2" width="44" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">13</span>
                        </td>
                        <td rowspan="2" width="77" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;"><strong>大金龙</strong></span>
                        </td>
                        <td rowspan="2" width="102" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">57+2</span>
                        </td>
                        <td width="126" colspan="2" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">1400</span>
                        </td>
                        <td width="49" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">6</span>
                        </td>
                        <td width="47" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">50</span>
                        </td>
                        <td rowspan="2" width="44" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;"></span><span style="font-size:16px;">80</span>
                        </td>
                        <td rowspan="2" width="42" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">12</span>
                        </td>
                        <td rowspan="2" width="60" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">1000</span>
                        </td>
                        <td rowspan="2" width="58" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">1200</span>
                        </td>
                    </tr>
                    <tr>
                        <td height="19" width="126" colspan="2" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">1800</span>
                        </td>
                        <td width="49" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">10</span>
                        </td>
                        <td width="47" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">80</span>
                        </td>
                    </tr>
                    <tr>
                        <td height="38" rowspan="2" width="44" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">14</span>
                        </td>
                        <td rowspan="2" width="77" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;"><strong>豪华商务</strong></span>
                        </td>
                        <td rowspan="2" width="102" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">22</span>
                        </td>
                        <td width="126" colspan="2" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">800</span>
                        </td>
                        <td width="49" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">6</span>
                        </td>
                        <td width="47" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">50</span>
                        </td>
                        <td rowspan="2" width="44" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">80</span>
                        </td>
                        <td rowspan="2" width="42" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;"></span><span style="font-size:16px;">10</span>
                        </td>
                        <td rowspan="2" width="60" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">700</span>
                        </td>
                        <td rowspan="2" width="58" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">800</span>
                        </td>
                    </tr>
                    <tr>
                        <td height="19" width="126" colspan="2" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">1200</span>
                        </td>
                        <td width="49" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">10</span>
                        </td>
                        <td width="47" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">80</span>
                        </td>
                    </tr>
                    <tr>
                        <td height="38" rowspan="2" width="44" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">15</span>
                        </td>
                        <td rowspan="2" width="77" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;"><strong>豪华商务</strong></span>
                        </td>
                        <td rowspan="2" width="102" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">37</span>
                        </td>
                        <td width="126" colspan="2" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">1300</span>
                        </td>
                        <td width="49" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">6</span>
                        </td>
                        <td width="47" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">50</span>
                        </td>
                        <td rowspan="2" width="44" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;"></span><span style="font-size:16px;">80</span>
                        </td>
                        <td rowspan="2" width="42" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;"></span><span style="font-size:16px;">12</span>
                        </td>
                        <td rowspan="2" width="60" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">800</span>
                        </td>
                        <td rowspan="2" width="58" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">900</span>
                        </td>
                    </tr>
                    <tr>
                        <td height="19" width="126" colspan="2" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">1500</span>
                        </td>
                        <td width="49" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">10</span>
                        </td>
                        <td width="47" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">80</span>
                        </td>
                    </tr>
                    <tr>
                        <td height="38" rowspan="2" width="44" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">16</span>
                        </td>
                        <td rowspan="2" width="77" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;"><strong>房车GMC</strong></span>
                        </td>
                        <td rowspan="2" width="102" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">6</span>
                        </td>
                        <td width="126" colspan="2" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">3000</span>
                        </td>
                        <td width="49" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">6</span>
                        </td>
                        <td width="47" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">50</span>
                        </td>
                        <td rowspan="2" width="44" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">200</span>
                        </td>
                        <td rowspan="2" width="42" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">50</span>
                        </td>
                        <td rowspan="2" width="60" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">2000</span><span style="font-size:16px;">&nbsp;</span>
                        </td>
                        <td rowspan="2" width="58" style="font-family:宋体, Arial, Helvetica, sans-serif;">
                            <span style="font-size:16px;">2500</span><span style="font-size:16px;">&nbsp;</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--right end-->

  
    </div>



<div class='WidthTab2'></div>




<div class="clearfix"></div>

</div>
<!--MainBlock end-->

<div class="HeightTab2 clearfix"></div>


<!--行业新闻，服务内容，常见问题-->

<!--友情链接links start-->
$web_link$
<!--links end-->

</div>
<!--body end-->
<div class="HeightTab clearfix"></div>
<!--footer start-->
<div id="footer">
<div class="inner">
$web_BottomHTML$
$juhaoyong_kefu_html_code_string$
</div>
</div>
<!--footer end -->


</div>
<script type="text/javascript" src="/js/TabShow.js" ></script>
<script type="text/javascript">
window.onerror=function(){return true;}
</script>

<script type="text/javascript" src="/juhaoyong-kfimgs/jquery.js"></script>
<script type="text/javascript" src="/juhaoyong-kfimgs/kf.js"></script>
</body>
</html>



