<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=7">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta http-equiv="content-language" content="zh-cn" />
<title>$web_title$</title>
<meta name="keywords" content="$web_keywords$" />
<meta name="description" content="$web_description$" />
<link href="/css/$web_theme$/style.css" rel="stylesheet" type="text/css" />
<link href="/css/$web_theme$/common.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/css/$web_theme$/functions.js"></script>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/FocusSlide.js"></script>
<script type="text/javascript" src="/js/ScrollPic.js"></script>
<link href="/css/$web_theme$/inner.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="wrapper">

<!--head start-->
<div id="head">

<!--top start -->
<div class="top">

<div class="TopLogo">
<div class="logo"><a href="/"><img src="/css/$web_theme$/$web_image$" alt="$web_name$"></a></div>
</div>

<div class="TopInfo">
<div class="clearfix"></div>
<div class="tel"><p class="telW">$web_tel_title$</p><p class="telN">$web_tel$</p></div>

</div>

</div>
<!--top end-->

<!--nav start-->
<div id="NavLink">
<div class="NavBG">
<!--Head Menu Start-->
$web_TopMenu$
<!--Head Menu End-->
</div>
<div class="clearfix"></div>
</div>
<!--nav end-->
<!--幻灯片focus start-->

$web_TopIMGAD$

<!--foncus end-->
<div class="HeightTab clearfix"></div>

</div>
<!--head end-->
<!--body start-->
<div id="body">
<!--MainBlock start-->
<div class="MainBlock">

<!--公司产品-->
$Block03_LeftItem$
    <div class="inner">
        <!--联系我们right2 start-->
        <div class="left">
            <div class="topic">
                <div class="TopicTitle"><a href='$JuhaoyongIndexContactusUrl$'>$JuhaoyongIndexContactusName$</a></div>
                <div class="TopicMore"> <a href='$JuhaoyongIndexContactusUrl$'><img src="images/more.png" /></a></div>
            </div>
            <div class='img'><a href='$JuhaoyongIndexContactusUrl$' target='_blank'><img src='/css/$JuhaoyongIndexContactusImage$' width='242' height='100' alt='$JuhaoyongIndexContactusName$' /></a></div><div class="txt ColorLink">
                $web_consult$
            </div>

            <div class=" clearfix"></div>


        </div>
        <!--right2 end-->
        <!--公告动态right start-->
        <div class="right">
            <div class="topic">
                <div class="TopicTitle">订车价格</div>
                <div class="TopicMore"> <a href='/$WebNewNewsFolderName$'><img src="images/more.png" /></a></div>
            </div>
            <div class='clearfix'></div>
            <table class="MBlockTable" width="100%" border="0" cellspacing="0" cellpadding="0">
                <ul>
                    $WebNewNewsList$
                </ul>
            </table>
        </div>
        <!--right end-->

  
    </div>



<div class='WidthTab2'></div>




<div class="clearfix"></div>

</div>
<!--MainBlock end-->

<div class="HeightTab2 clearfix"></div>


<!--行业新闻，服务内容，常见问题-->

<!--友情链接links start-->
$web_link$
<!--links end-->

</div>
<!--body end-->
<div class="HeightTab clearfix"></div>
<!--footer start-->
<div id="footer">
<div class="inner">
$web_BottomHTML$
$juhaoyong_kefu_html_code_string$
</div>
</div>
<!--footer end -->


</div>
<script type="text/javascript" src="/js/TabShow.js" ></script>
<script type="text/javascript">
window.onerror=function(){return true;}
</script>

<script type="text/javascript" src="/juhaoyong-kfimgs/jquery.js"></script>
<script type="text/javascript" src="/juhaoyong-kfimgs/kf.js"></script>
</body>
</html>



